.App {
  text-align: center;
}

.welcome-buttons {
  margin: 40px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nick-fury {
  position: absolute;
  top: -25vh;
}

.ui.indicating.progress {
  background-color: white;
  border: grey 2px solid;
}

.progress-bar {
  position:relative;
  padding: 35px;
}

.box {
  align-self: flex-end;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}