.App {
  text-align: center;
}

.body {
  height: 100vh;
  width: 100vw;
}

.welcome-buttons {
  margin: 40px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nick-fury {
  position: absolute;
  top: -25vh;
}

.timer-wrapper {
  height: 100%;
}

.ui.indicating.progress {
  background-color: white;
  border: grey 2px solid;
  border-radius: 6px;
  bottom: 2px;
  right: 12px;
}

.progress-bar {
  position:relative;
  padding: 50px;
}

.box {
  align-self: flex-end;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

.mobile {
  margin: 50px;
}

.intro {
  font-size: 25px;
  height: 75vh;
  position: relative;
}

.challenge-container {
  height: 75vh;
  position: relative;
}

.intro-screen {
  background-color: black;
  text-align: left;
  color: #80ed99;
  height: 400px;
  width: 650px;
  border: solid grey 10px;
  border-radius: 25px;
  padding: 40px;
  opacity: 0.85;
}

.intro-button {
  z-index:10;
}

.intro-button.ui.basic.green.button {
  color: #80ed99 !important;
  box-shadow: 0 0 0 1px #80ed99 inset!important;
}

.intro-message {
  height: 80%;
}

.welcome-message {
  font-size: 50px;
  height: 100vh;
}

.gradient1 {
  background: #001233;
}

.stats-bar {
  position: fixed;
  background-color: #81b29a;
  width: 95%;
  height: 140px;
  left: 2.5%;
  border-radius: 5px;
}

.ui.statistics.stats:first-child {
  margin-left: 30px;
  margin-top: 35px;
}

.ui.card.profile-card:last-child {
  margin-top: 40px;
  margin-left: 80px;
}

.ui.card.profile-card>.content {
  background: white;
}

.challenge-holder {
  background-color: white;
  height: 67vh;
  margin-top: 40px;
  border-radius: 5px;
  margin-right: 4%;
  padding: 55px;
  margin-left: -50px;
}

.challenge-headers>h3, .challenge-headers>h2 {
  margin:0px;

}

.challenge-description {
  font-size: 17px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.challenge-buttons>.ui.button {
  margin-right: 20px;
}

.challenge-buttons>.ui.basic.red.button {
  box-shadow: 0 0 0 1px #e07a5f inset!important;
  color: #e07a5f!important;
}

.ui.card>.content>.header {
  color: #e07a5f!important;
}

.value {
  font-size: 40px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-wrapper {
  background-color: white;
  height: 67vh;
  margin-top: 40px;
  border-radius: 5px;
  margin-right: 50px;
}

.time-remaining {
  margin-bottom: 30px;
}